::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 0;
}

noscript {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}

noscript div {
  width: 30%;
  height: auto;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #31B141;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (max-width: 414px) {
  noscript div {
    width: 100%;
  }
}

noscript div p {
  margin: 20px 0px;
  font-size: 1.8rem;
  font-weight: 500;
}

noscript div a {
  font-size: 1.7rem;
  color: white;
  padding-bottom: 20px;
  font-weight: 600;
}

noscript .flou {
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.85;
  position: fixed;
  z-index: 2;
}

nav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

@media screen and (max-width: 1366px) {
  nav {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: -999;
    position: absolute;
  }
}

nav .haut {
  font-size: 2vw;
  height: 10%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 414px) {
  nav .haut {
    font-size: 8vw;
  }
}

nav .haut .croix {
  width: 2.5vw;
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

nav .haut .croix .l2 {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  background-color: #31B141;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

nav .haut .croix .l1 {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  background-color: #31B141;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

nav .millieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
}

nav .millieu h2 {
  font-size: 5vw;
  text-shadow: #31B141 4px 4px;
}

@media screen and (max-width: 414px) {
  nav .millieu h2 {
    font-size: 15vw;
  }
}

nav .millieu h2 a {
  color: black;
  text-decoration: none;
}

nav .bas {
  width: 95%;
  height: 10%;
  text-align: right;
  font-size: 2vw;
}

@media screen and (max-width: 414px) {
  nav .bas {
    font-size: 8vw;
  }
}

.slide {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 999;
}

@media screen and (max-width: 1366px) {
  .slide {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.rotleft {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotright {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hide {
  opacity: 0;
}

.stop {
  overflow: hidden;
}

.connexion1 {
  position: fixed;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  background-color: orange;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 998;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.connexion2 {
  position: fixed;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  background-color: #0ed80e;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 998;
  opacity: 0;
  -webkit-transition: 300ms 400ms ease-in-out;
  transition: 300ms 400ms ease-in-out;
}

#connexion {
  opacity: 1;
}

@-webkit-keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes logo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes logo {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#show {
  opacity: 1;
  -webkit-transform: translate(0);
          transform: translate(0);
}

body {
  width: 100vw;
  height: 100vh;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 914px) {
  header {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 25vh;
  }
}

@media screen and (max-width: 414px) {
  header {
    height: auto;
  }
}

header .haut {
  width: 95%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .haut p {
  font-size: 2vw;
  font-weight: 500;
  -webkit-animation: apparition 1500ms 100ms ease-in-out both;
          animation: apparition 1500ms 100ms ease-in-out both;
}

@media screen and (max-width: 414px) {
  header .haut p {
    display: none;
  }
}

header .haut .droite {
  width: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 414px) {
  header .haut .droite {
    width: 100%;
  }
}

header .haut .droite a {
  font-size: 1.6vw;
  font-weight: 400;
  text-decoration: none;
  color: black;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  visibility: hidden;
}

@media screen and (max-width: 414px) {
  header .haut .droite a {
    font-size: 1.6rem;
  }
}

header .haut .droite a:hover {
  text-shadow: #31B141 2px 2px;
}

header .haut .droite .burger {
  width: 2.5vw;
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: relative;
}

header .haut .droite .burger .ligne {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  background-color: #31B141;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  position: relative;
}

@media screen and (max-width: 414px) {
  header .haut .droite .burger .ligne {
    height: 3px;
  }
}

header .haut .droite .burger .l2 {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  position: relative;
}

@media screen and (max-width: 414px) {
  header .haut .droite .burger .l2 {
    height: 3px;
  }
}

header .haut .droite .burger .l2 .l2-1,
header .haut .droite .burger .l2 .l2-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #31B141;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  border-radius: 100px;
}

@media screen and (max-width: 414px) {
  header .haut .droite .burger {
    width: 25px;
    height: 25px;
  }
}

header .haut .droite .burger:hover {
  cursor: pointer;
}

header .millieu {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: apparition 1500ms 100ms ease-in-out both;
          animation: apparition 1500ms 100ms ease-in-out both;
}

@media screen and (max-width: 414px) {
  header .millieu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .millieu img {
  width: 20%;
  height: auto;
  -webkit-animation: logo 1500ms 200ms ease-in-out both;
          animation: logo 1500ms 200ms ease-in-out both;
}

@media screen and (max-width: 414px) {
  header .millieu img {
    width: 30%;
  }
}

header .millieu div {
  margin-left: 5vw;
}

@media screen and (max-width: 414px) {
  header .millieu div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

header .millieu div h1 {
  font-size: 4vw;
}

@media screen and (max-width: 414px) {
  header .millieu div h1 {
    margin-top: 15px;
    font-size: 2rem;
  }
}

header .millieu div h2 {
  font-size: 7vw;
  text-shadow: #31B141 4px 4px;
}

@media screen and (max-width: 414px) {
  header .millieu div h2 {
    font-size: 2.5rem;
  }
}

header .millieu div h3 {
  font-size: 2vw;
  margin-top: 50px;
}

@media screen and (max-width: 414px) {
  header .millieu div h3 {
    margin-top: 5px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px) {
  header .millieu div h3 {
    font-size: 1.2rem;
  }
}

header .bas {
  width: 95%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .bas p {
  font-size: 2vw;
  font-weight: 500;
  -webkit-animation: apparition 1500ms 100ms ease-in-out both;
          animation: apparition 1500ms 100ms ease-in-out both;
}

@media screen and (max-width: 414px) {
  header .bas p {
    display: none;
  }
}

main {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .balise {
  width: 95%;
  font-size: 2vw;
  font-weight: 500;
}

@media screen and (max-width: 414px) {
  main .balise {
    display: none;
  }
}

main .balise2 {
  width: 95%;
  font-size: 2vw;
  font-weight: 500;
  text-align: right;
}

@media screen and (max-width: 414px) {
  main .balise2 {
    display: none;
  }
}

main .presentation {
  width: 75vw;
  height: 60vh;
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
  opacity: 0;
  -webkit-transition: 800ms 200ms ease-in-out;
  transition: 800ms 200ms ease-in-out;
}

@media screen and (min-width: 600px) and (max-width: 914px) {
  main .presentation {
    height: 30vh;
  }
}

@media screen and (max-width: 600px) {
  main .presentation {
    height: 20vh;
  }
}

@media screen and (max-width: 414px) {
  main .presentation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
}

main .presentation img {
  width: 30vw;
  height: 35vw;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 414px) {
  main .presentation img {
    width: 90vw;
    height: 90vw;
  }
}

main .presentation .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 414px) {
  main .presentation .description {
    margin-top: 25px;
  }
}

main .presentation .description p span {
  color: #21742c;
}

main .presentation .description p:first-child {
  font-size: 1.2vw;
  font-weight: 500;
}

@media screen and (max-width: 414px) {
  main .presentation .description p:first-child {
    font-size: 1.2rem;
  }
}

main .presentation .description p:last-child {
  margin: 20px 0px;
  font-size: 1.5vw;
  font-weight: 600;
}

@media screen and (max-width: 414px) {
  main .presentation .description p:last-child {
    font-size: 1.5rem;
  }
}

main .citation {
  margin-top: 100px;
  width: 100vw;
  height: 25vw;
  background-image: url("assets/glenn-carstens-peters-npxXWgQ33ZQ-unsplash.webp");
  background-size: cover;
  background-position-y: -450px;
  position: relative;
}

@media screen and (max-width: 600px) {
  main .citation {
    margin-top: 50px;
  }
}

@media screen and (max-width: 414px) {
  main .citation {
    height: 60vw;
  }
}

main .citation .filtre {
  width: 100%;
  height: 100%;
  background-color: #4FC5E9;
  opacity: 0.5;
  position: absolute;
}

main .citation .text {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

main .citation .text h3 {
  font-size: 3vw;
  color: white;
}

@media screen and (max-width: 414px) {
  main .citation .text h3 {
    font-size: 1.7rem;
    width: 99%;
  }
}

main .citation .text p {
  font-size: 2vw;
  margin-top: 15px;
  color: white;
}

@media screen and (max-width: 414px) {
  main .citation .text p {
    font-size: 1.5rem;
  }
}

main .cursus-competence {
  width: 85vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
}

@media screen and (max-width: 600px) {
  main .cursus-competence {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 414px) {
  main .cursus-competence {
    width: 95vw;
  }
}

main .cursus-competence .cursus {
  width: auto;
  height: auto;
}

main .cursus-competence .cursus h2 {
  font-size: 4vw;
  text-shadow: #31B141 3px 3px;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .cursus h2 {
    font-size: 5rem;
  }
}

main .cursus-competence .cursus .annee {
  font-size: 1.5vw;
  font-weight: 500;
  margin-right: 15px;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .cursus .annee {
    font-size: 2rem;
  }
}

main .cursus-competence .cursus .boite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .cursus-competence .cursus .cursus-boite {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 15px;
  opacity: 0;
  -webkit-transform: translatey(25%);
          transform: translatey(25%);
  -webkit-transition: 800ms 1000ms ease-in-out;
  transition: 800ms 1000ms ease-in-out;
}

main .cursus-competence .cursus .cursus-boite .deco {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cursus-competence .cursus .cursus-boite .deco .rond {
  width: 15px;
  height: 15px;
  border: 3px solid #31B141;
  border-radius: 100%;
  margin-right: 10px;
}

main .cursus-competence .cursus .cursus-boite .deco .barre {
  width: 3px;
  height: 92%;
  background-color: #31B141;
  margin-right: 10px;
}

main .cursus-competence .cursus .cursus-boite .texte {
  margin-top: 50px;
  padding-bottom: 15px;
}

main .cursus-competence .cursus .cursus-boite .texte .titre {
  font-weight: 600;
  font-size: 1.8vw;
  margin-bottom: 20px;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .cursus .cursus-boite .texte .titre {
    font-size: 1.2rem;
  }
}

main .cursus-competence .cursus .cursus-boite .texte .desc {
  font-weight: 500;
  font-size: 1.2vw;
  margin-bottom: 15px;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .cursus .cursus-boite .texte .desc {
    font-size: 1.2rem;
  }
}

main .cursus-competence .cursus .cursus-boite .texte .mat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cursus-competence .cursus .cursus-boite .texte .mat .rond {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
  margin-right: 5px;
}

main .cursus-competence .cursus .cursus-boite .texte .mat p {
  font-size: 1.2vw;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .cursus .cursus-boite .texte .mat p {
    font-size: 1rem;
  }
}

main .cursus-competence .competence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .cursus-competence .competence .interer {
  margin-bottom: 25px;
}

@media screen and (max-width: 600px) {
  main .cursus-competence .competence .interer {
    margin-bottom: 0px;
    margin-top: 25px;
  }
}

main .cursus-competence .competence .interer h3 {
  font-size: 2.5vw;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .competence .interer h3 {
    font-size: 2rem;
  }
}

main .cursus-competence .competence .interer .boite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5vw;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .competence .interer .boite {
    font-size: 1.2rem;
  }
}

main .cursus-competence .competence .interer .boite .rond {
  width: 8px;
  height: 8px;
  background-color: black;
  border-radius: 100%;
  margin-right: 5px;
}

main .cursus-competence .competence .comp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px;
}

main .cursus-competence .competence .comp .titre {
  width: 100%;
}

main .cursus-competence .competence .comp .titre h4 {
  font-size: 2.5vw;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .competence .comp .titre h4 {
    font-size: 2.5rem;
  }
}

main .cursus-competence .competence .comp .titre .n1 {
  width: 60%;
  height: 3px;
  background-color: #31B141;
}

main .cursus-competence .competence .comp .titre .n2 {
  width: 82%;
  height: 3px;
  background-color: #31B141;
}

main .cursus-competence .competence .comp .titre .n3 {
  width: 77%;
  height: 3px;
  background-color: #31B141;
}

main .cursus-competence .competence .comp .element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  opacity: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  -webkit-transition: 1000ms 200ms ease-in-out;
  transition: 1000ms 200ms ease-in-out;
}

main .cursus-competence .competence .comp .element .deco {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .cursus-competence .competence .comp .element .deco .vertical {
  width: 3px;
  height: 25px;
  background-color: #31B141;
}

main .cursus-competence .competence .comp .element .deco .horizontal {
  width: 25px;
  height: 3px;
  background-color: #31B141;
  margin-right: 5px;
}

main .cursus-competence .competence .comp .element .deco .phrase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .cursus-competence .competence .comp .element .deco .phrase p {
  margin-right: 5px;
  font-size: 1vw;
}

@media screen and (max-width: 414px) {
  main .cursus-competence .competence .comp .element .deco .phrase p {
    font-size: 1.2rem;
  }
}

footer {
  width: 100%;
  height: 40vh;
  color: white;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 914px) {
  footer {
    height: 25vh;
  }
}

@media screen and (max-width: 600px) {
  footer {
    margin-top: 50px;
  }
}

@media screen and (max-width: 414px) {
  footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 30vh;
  }
}

@media screen and (max-width: 375px) {
  footer {
    margin-top: 5px;
    font-size: 1.5rem;
    height: 35vh;
  }
}

@media screen and (max-width: 320px) {
  footer {
    height: 40vh;
  }
}

footer .balise {
  width: 98%;
  font-size: 2vw;
  font-weight: 500;
  margin-top: 10px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

@media screen and (max-width: 414px) {
  footer .balise {
    display: none;
  }
}

footer .balise2 {
  width: 98%;
  font-size: 2vw;
  font-weight: 500;
  text-align: right;
  margin-bottom: 10px;
}

@media screen and (max-width: 414px) {
  footer .balise2 {
    display: none;
  }
}

footer .content {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 600px) {
  footer .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .content h4 {
  font-size: 4vw;
  text-shadow: #31B141 4px 4px;
}

@media screen and (max-width: 600px) {
  footer .content h4 {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 414px) {
  footer .content h4 {
    font-size: 3rem;
  }
}

footer .content .liens {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .content .liens .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

footer .content .liens .icon i {
  font-size: 3.5vw;
  color: white;
  margin-right: 10px;
  margin: 5px 20px;
}

@media screen and (max-width: 414px) {
  footer .content .liens .icon i {
    font-size: 2rem;
  }
}

footer .content .liens .lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .content .liens .lien a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
}

@media screen and (max-width: 414px) {
  footer .content .liens .lien a {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 320px) {
  footer .content .liens .lien a {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */