::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
div {
  margin: 0;
}

noscript {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999;
}

noscript div {
  width: 30%;
  height: auto;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #31B141;
  border-radius: 15px;
  padding: 20px;
}

@media screen and (max-width: 414px) {
  noscript div {
    width: 100%;
  }
}

noscript div p {
  margin: 20px 0px;
  font-size: 1.8rem;
  font-weight: 500;
}

noscript div a {
  font-size: 1.7rem;
  color: white;
  padding-bottom: 20px;
  font-weight: 600;
}

noscript .flou {
  width: 100vw;
  height: 100vh;
  background-color: white;
  opacity: 0.85;
  position: fixed;
  z-index: 2;
}

nav {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 600ms ease-in-out;
  transition: 600ms ease-in-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
}

@media screen and (max-width: 1366px) {
  nav {
    -webkit-transform: translate(0);
            transform: translate(0);
    z-index: -999;
    position: absolute;
  }
}

nav .haut {
  font-size: 2vw;
  height: 10%;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 414px) {
  nav .haut {
    font-size: 8vw;
  }
}

nav .haut .croix {
  width: 2.5vw;
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

nav .haut .croix .l2 {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  background-color: #31B141;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

nav .haut .croix .l1 {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  background-color: #31B141;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

nav .millieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80%;
}

nav .millieu h2 {
  font-size: 5vw;
  text-shadow: #31B141 4px 4px;
}

@media screen and (max-width: 414px) {
  nav .millieu h2 {
    font-size: 15vw;
  }
}

nav .millieu h2 a {
  color: black;
  text-decoration: none;
}

nav .bas {
  width: 95%;
  height: 10%;
  text-align: right;
  font-size: 2vw;
}

@media screen and (max-width: 414px) {
  nav .bas {
    font-size: 8vw;
  }
}

.slide {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
  z-index: 999;
}

@media screen and (max-width: 1366px) {
  .slide {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.rotleft {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.rotright {
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.hide {
  opacity: 0;
}

.stop {
  overflow: hidden;
}

.connexion1 {
  position: fixed;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  background-color: orange;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 998;
  opacity: 0;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
}

.connexion2 {
  position: fixed;
  top: 5vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 0.8rem;
  background-color: #0ed80e;
  padding: 20px;
  border-radius: 20px;
  font-weight: 600;
  z-index: 998;
  opacity: 0;
  -webkit-transition: 300ms 400ms ease-in-out;
  transition: 300ms 400ms ease-in-out;
}

#connexion {
  opacity: 1;
}

body {
  width: 100vw;
  height: 100vh;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  width: 95%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 600px) and (max-width: 914px) {
  header {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 25vh;
  }
}

@media screen and (max-width: 414px) {
  header {
    height: auto;
    margin-top: 25px;
  }
}

header p {
  font-size: 2.5vw;
  font-weight: 700;
}

@media screen and (max-width: 414px) {
  header p {
    font-size: 5vw;
  }
}

header a {
  text-decoration: none;
  color: black;
}

header .burger {
  width: 2.5vw;
  height: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 999;
  position: relative;
}

header .burger .ligne {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  background-color: #31B141;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  position: relative;
}

@media screen and (max-width: 414px) {
  header .burger .ligne {
    height: 3px;
  }
}

header .burger .l2 {
  width: 100%;
  height: 0.3vw;
  border-radius: 100px;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  position: relative;
}

@media screen and (max-width: 414px) {
  header .burger .l2 {
    height: 3px;
  }
}

header .burger .l2 .l2-1,
header .burger .l2 .l2-2 {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #31B141;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  border-radius: 100px;
}

@media screen and (max-width: 414px) {
  header .burger {
    width: 25px;
    height: 25px;
  }
}

header .burger:hover {
  cursor: pointer;
}

main {
  width: 100%;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h3 {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-size: 2vw;
}

@media screen and (max-width: 414px) {
  main h3 {
    font-size: 6vw;
  }
}

main form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20%;
  height: auto;
  margin: 100px 0px;
}

@media screen and (max-width: 414px) {
  main form {
    width: 95%;
    margin: 50px 0px;
  }
}

main form p {
  font-size: 1vw;
}

@media screen and (max-width: 414px) {
  main form p {
    font-size: 5vw;
  }
}

main form .info {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

main form .info .label {
  width: 45%;
  height: auto;
}

main form .info .label label {
  font-size: 1vw;
  font-weight: 600;
}

@media screen and (max-width: 414px) {
  main form .info .label label {
    font-size: 5vw;
  }
}

main form .info .label input {
  padding: 0;
  border-bottom: 2px solid #31B141;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
  height: 30px;
  background-color: transparent;
  width: 100%;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

main form .info .label .invalid {
  border-bottom: 3px solid red;
}

main form .message {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main form .message label {
  font-size: 1vw;
  font-weight: 600;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

@media screen and (max-width: 414px) {
  main form .message label {
    font-size: 5vw;
  }
}

main form .message textarea {
  margin: 0;
  margin-top: 10px;
  border-radius: 5px;
  outline: none;
  border: 2px solid #31B141;
  width: 100%;
  background-color: transparent;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  padding: 0;
}

@media screen and (max-width: 414px) {
  main form .message textarea {
    margin-top: 0;
  }
}

main form .message .invalidmsg {
  border: 3px solid red;
}

main form button {
  margin-top: 10px;
  font-size: 0.8vw;
  font-weight: 600;
  height: 35px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: none;
  border-radius: 10px;
  outline: none;
  border: none;
  background-color: #31B141;
}

@media screen and (max-width: 414px) {
  main form button {
    font-size: 5vw;
  }
}
/*# sourceMappingURL=formulaire.css.map */